vaadin-app-layout[primary-section="navbar"]::part(navbar)::before {
  background: var(--lumo-base-color) linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
}

vaadin-app-layout[primary-section="drawer"]::part(navbar)::before {
  background: var(--lumo-base-color);
}

vaadin-app-layout[primary-section="drawer"]::part(navbar) {
  box-shadow: 0 1px 0 0 var(--lumo-contrast-10pct);
}

vaadin-app-layout[primary-section="drawer"]:not([overlay])::part(drawer) {
  background: var(--lumo-shade-5pct);
  border: 0;
  box-shadow: 1px 0 0 0 var(--lumo-contrast-10pct), 1px 0 0 0 var(--lumo-base-color);
  z-index: 1;
}

vaadin-drawer-toggle[slot="navbar"] {
  color: var(--lumo-secondary-text-color);
}

::part(navbar) {
  min-height: var(--lumo-size-xl);
}

::part(drawer) {
  display: flex;
  flex-direction: column;
}

vaadin-scroller[slot="drawer"] {
  flex: 1;
  padding: var(--lumo-space-s);
}

vaadin-scroller[slot="drawer"][overflow~="top"] {
  border-top: 1px solid var(--lumo-contrast-10pct);
}

vaadin-scroller[slot="drawer"][overflow~="bottom"] {
  border-bottom: 1px solid var(--lumo-contrast-10pct);
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

.footer-div {
  flex-direction: column;
}



.periode-card {
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.55);

  -webkit-border-radius: 10px;
  border-radius: 10px;

  background-color: var(--lumo-base-color) linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
  margin: 10px;
  width: 300px;
  height: 60px;
  color: var(--lumo-primary-text-color);;
  padding: 10px;
}

.periode-card span {
  text-align: center;
  width: -webkit-fill-available;
}

.periode-plus-button {
  margin-left: 30px;
}

.ov-card {
  border: 2px solid #1C6EA4;
  display: grid;
  vertical-align: top;
}

.ov-title {
  /*display: inline-block;*/
  /*-webkit-box-sizing: content-box;*/
  /*-moz-box-sizing: content-box;*/
  /*box-sizing: content-box;*/
  /*width: 160px;*/
  margin: 10px;
  /*padding: 3px;*/
  /*overflow: hidden;*/
  /*border: none;*/
  font: normal 16px/1 Arial Black, Gadget, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  /*-o-text-overflow: ellipsis;*/
  /*text-overflow: ellipsis;*/
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.64);
  border: 2px solid #1C6EA4;
  /*float: top;*/
}

.ov-subtitle {
  /*display: inline-block;*/
  /*-webkit-box-sizing: content-box;*/
  /*-moz-box-sizing: content-box;*/
  /*box-sizing: content-box;*/
  /*width: 160px;*/
  padding: 3px;
  /*overflow: hidden;*/
  /*border: none;*/
  font: italic normal normal 16px/1 Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  /*-o-text-overflow: ellipsis;*/
  /*text-overflow: ellipsis;*/
  border: 2px solid #1C6EA4;
}

.ov-in-money {
  border: 2px solid #1C6EA4;
}

.ov-out-money {
  border: 2px solid #1C6EA4;
}