vaadin-app-layout[primary-section="navbar"]::part(navbar)::before {
  background: var(--lumo-base-color) linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
}

vaadin-app-layout[primary-section="drawer"]::part(navbar)::before {
  background: var(--lumo-base-color);
}

vaadin-app-layout[primary-section="drawer"]::part(navbar) {
  box-shadow: 0 1px 0 0 var(--lumo-contrast-10pct);
}

vaadin-app-layout[primary-section="drawer"]:not([overlay])::part(drawer) {
  background: var(--lumo-shade-5pct);
  border: 0;
  box-shadow: 1px 0 0 0 var(--lumo-contrast-10pct), 1px 0 0 0 var(--lumo-base-color);
  z-index: 1;
}

vaadin-drawer-toggle[slot="navbar"] {
  color: var(--lumo-secondary-text-color);
}

::part(navbar) {
  min-height: var(--lumo-size-xl);
}

::part(drawer) {
  display: flex;
  flex-direction: column;
}

vaadin-scroller[slot="drawer"] {
  flex: 1;
  padding: var(--lumo-space-s);
}

vaadin-scroller[slot="drawer"][overflow~="top"] {
  border-top: 1px solid var(--lumo-contrast-10pct);
}

vaadin-scroller[slot="drawer"][overflow~="bottom"] {
  border-bottom: 1px solid var(--lumo-contrast-10pct);
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

.footer-div {
  flex-direction: column;
}



.periode-card {
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.55);

  -webkit-border-radius: 10px;
  border-radius: 10px;

  background-color: var(--lumo-base-color) linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
  margin: 10px;
  width: 300px;
  height: 60px;
  color: var(--lumo-primary-text-color);
  padding: 10px;
}

.periode-card span {
  text-align: center;
  width: -webkit-fill-available;
}

.periode-plus-button {
  margin-left: 30px;
}

.overview-title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 2em/1 "Aclonica", Helvetica, sans-serif;
  color: var(--lumo-primary-text-color);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.overview-subtitle {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 1.4em/1 "Aclonica", Helvetica, sans-serif;
  color: var(--lumo-primary-text-color);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

html {
  --lumo-shade-5pct: rgba(44, 38, 22, 0.05);
  --lumo-shade-10pct: rgba(44, 38, 22, 0.1);
  --lumo-shade-20pct: rgba(44, 38, 22, 0.2);
  --lumo-shade-30pct: rgba(44, 38, 22, 0.3);
  --lumo-shade-40pct: rgba(44, 38, 22, 0.4);
  --lumo-shade-50pct: rgba(44, 38, 22, 0.5);
  --lumo-shade-60pct: rgba(44, 38, 22, 0.6);
  --lumo-shade-70pct: rgba(44, 38, 22, 0.7);
  --lumo-shade-80pct: rgba(44, 38, 22, 0.8);
  --lumo-shade-90pct: rgba(44, 38, 22, 0.9);
  --lumo-primary-text-color: rgb(216, 171, 65);
  --lumo-primary-color-50pct: rgba(216, 171, 65, 0.5);
  --lumo-primary-color-10pct: rgba(216, 171, 65, 0.1);
  --lumo-error-text-color: rgb(237, 127, 151);
  --lumo-error-color-50pct: rgba(237, 127, 151, 0.5);
  --lumo-error-color-10pct: rgba(237, 127, 151, 0.1);
  --lumo-success-text-color: rgb(84, 222, 110);
  --lumo-success-color-50pct: rgba(84, 222, 110, 0.5);
  --lumo-success-color-10pct: rgba(84, 222, 110, 0.1);
  --lumo-shade: hsl(42, 33%, 13%);
  --lumo-primary-color: #d8ab41;
  --lumo-error-color: #ED7F97;
  --lumo-success-color: #54DE6E;
  --lumo-tint-5pct: rgba(244, 238, 225, 0.05);
  --lumo-tint-10pct: rgba(244, 238, 225, 0.1);
  --lumo-tint-20pct: rgba(244, 238, 225, 0.2);
  --lumo-tint-30pct: rgba(244, 238, 225, 0.3);
  --lumo-tint-40pct: rgba(244, 238, 225, 0.4);
  --lumo-tint-50pct: rgba(244, 238, 225, 0.5);
  --lumo-tint-60pct: rgba(244, 238, 225, 0.6);
  --lumo-tint-70pct: rgba(244, 238, 225, 0.7);
  --lumo-tint-80pct: rgba(244, 238, 225, 0.8);
  --lumo-tint-90pct: rgba(244, 238, 225, 0.9);
  --lumo-tint: #f4eee1;
  --lumo-header-text-color: #b7830b;
}

[theme~="dark"] {
  --lumo-shade-5pct: rgba(44, 38, 22, 0.05);
  --lumo-shade-10pct: rgba(44, 38, 22, 0.1);
  --lumo-shade-20pct: rgba(44, 38, 22, 0.2);
  --lumo-shade-30pct: rgba(44, 38, 22, 0.3);
  --lumo-shade-40pct: rgba(44, 38, 22, 0.4);
  --lumo-shade-50pct: rgba(44, 38, 22, 0.5);
  --lumo-shade-60pct: rgba(44, 38, 22, 0.6);
  --lumo-shade-70pct: rgba(44, 38, 22, 0.7);
  --lumo-shade-80pct: rgba(44, 38, 22, 0.8);
  --lumo-shade-90pct: rgba(44, 38, 22, 0.9);
  --lumo-primary-text-color: rgb(230, 190, 95);
  --lumo-primary-color-50pct: rgba(230, 190, 95, 0.5);
  --lumo-primary-color-10pct: rgba(230, 190, 95, 0.1);
  --lumo-error-text-color: rgb(237, 127, 151);
  --lumo-error-color-50pct: rgba(237, 127, 151, 0.5);
  --lumo-error-color-10pct: rgba(237, 127, 151, 0.1);
  --lumo-success-text-color: rgb(84, 222, 110);
  --lumo-success-color-50pct: rgba(84, 222, 110, 0.5);
  --lumo-success-color-10pct: rgba(84, 222, 110, 0.1);
  --lumo-shade: hsl(42, 33%, 13%);
  --lumo-primary-color: #E6BE5F;
  --lumo-error-color: #ED7F97;
  --lumo-success-color: #54DE6E;
  --lumo-success-contrast-color: #2D2C29;
  --lumo-tint-5pct: rgba(244, 238, 225, 0.05);
  --lumo-tint-10pct: rgba(244, 238, 225, 0.1);
  --lumo-tint-20pct: rgba(244, 238, 225, 0.2);
  --lumo-tint-30pct: rgba(244, 238, 225, 0.3);
  --lumo-tint-40pct: rgba(244, 238, 225, 0.4);
  --lumo-tint-50pct: rgba(244, 238, 225, 0.5);
  --lumo-tint-60pct: rgba(244, 238, 225, 0.6);
  --lumo-tint-70pct: rgba(244, 238, 225, 0.7);
  --lumo-tint-80pct: rgba(244, 238, 225, 0.8);
  --lumo-tint-90pct: rgba(244, 238, 225, 0.9);
  --lumo-base-color: #2D2C29;
  --lumo-tint: #f4eee1;
  --lumo-primary-contrast-color: #2D2C29;
  --lumo-error-contrast-color: #2D2C29;
  --lumo-header-text-color: #E6BE5F;
}

